body{
    font-family: 'Titillium Web', sans-serif;
}

.my-link{
    color: black;
    text-decoration: none;
}

.riga{
    margin-top: 2em;
}

.hello{
    
}

.myoverlay{
    /* border: 1px solid darkgrey; */
    
}